body{
    background-color: aliceblue;
}

.banner img {
    width: 100%;
    border-radius: 15px;
}

.pilih-kategori img{
    max-height: 125px;
}

.pilih-kategori .card{
    border-radius: 15px;
}

.products img{
    max-height: 125px;
}

.products h5{
    min-height: 44px;
}

.products .card{
    border-radius: 15px;
    min-height: 250px;
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
}

.page-item.active .page-link {
    background-color: #343a40;
}